.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $vertical-spacing-unit 0;

  a {
    color: $theme-color;
    i { color: $text-color; }

    &:hover {
      text-decoration: underline;
      i { color: $theme-color; }
    }
  }

  ul {
    padding-left: 0;
  }
}

.footer-heading {
  font-size: 1.100rem;
  margin-bottom: $vertical-spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}
.contact-list {
  text-align: left;
}
.social-media-list {
  text-align: center;
}

.footer-col-wrapper {
  color: $grey-color;
  font-size: 0.9375;
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  @extend .clearfix;
}
.footer-col {
  flex: 1;
  margin-bottom: $vertical-spacing-unit / 2;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  flex: 1;
  min-width: calc(33.33% - #{$horizontal-spacing-unit});
}


.footer-col-3 p {
  text-align: right; /* Right justify the content inside the third column */
}


@media screen and (max-width: $on-large) {
  .footer-col-wrapper {
    flex-direction: column; /* Stack columns vertically */
    align-items: center; /* Center justify columns */
  }

  .footer-col {
    text-align: center; /* Center text inside columns */
    min-width: 100%; /* Ensure columns take full width */
  }

  .footer-col-3 p {
    text-align: center; /* Center text inside the third column */
  }

  .contact-list {
    text-align: center;
  }
  .footer-heading {
    text-align: center;
  }
}


@media screen and (min-width: $on-large) {
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    flex: 0 0 33.33%;
  }
}